Repository bounswe/bounswe2024group12, pull requests merged in 2024-11, with the labels that each got.

#303 Lab6/frontend
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Login.jsx
  frontend/src/components/SignUp.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/HomeCard.jsx
  frontend/src/components/homepage/Navbar.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
Labels: Priority: Medium, Type: Enhancement, Component: Frontend

#305 Firat/archive
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/archivepage/ArchiveCard.jsx
  frontend/src/components/archivepage/CommentsList.jsx
  frontend/src/components/archivepage/GameScreen.jsx
  frontend/src/components/archivepage/ShareComment.jsx
  frontend/src/components/common/FENRenderer.jsx
  frontend/src/components/common/Navbar.jsx
  frontend/src/components/homepage/HomeCard.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
  frontend/src/pages/ArchivePage.jsx
Labels: Priority: High, Type: Feature, Component: Frontend

#322 309 enhance post mechanism
  frontend/src/App.js
  frontend/src/components/Login.jsx
  frontend/src/components/commentpage/Comment.jsx
  frontend/src/components/commentpage/CommentCard.jsx
  frontend/src/components/commentpage/ShareComment.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
  frontend/src/pages/CommentPage.jsx
Labels: Type: Feature, Component: Frontend, Priority: Urgent

#324 milestone 2 deliverables
  frontend/src/components/archivepage/ArchiveCard.jsx
  frontend/src/components/archivepage/GameScreen.jsx
  frontend/src/components/archivepage/ShareComment.jsx
  frontend/src/components/commentpage/CommentCard.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/Post.jsx
Labels: Component: Frontend, Priority: Urgent

#334 unit test environment and tests for homepage
  frontend/.babelrc
  frontend/__mocks__/chessboardjsx.js
  frontend/jest.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/setupTests.js
  frontend/src/components/__tests__/HomeCard.test.jsx
Labels: Component: Frontend

#337 Backend Milestone 2
  app/backend/docker-compose.yml
  app/backend/init-scripts/init.sql
  app/backend/test.sh
  app/backend/v1/apps/accounts/tests.py
  app/backend/v1/apps/games/tests.py
  app/backend/v1/apps/healthcheck/tests.py
  app/backend/v1/apps/healthcheck/views.py
  app/backend/v1/apps/posts/tests.py
Labels: Component: Backend, Component: Database, Priority: Urgent

#350 Mobile/testing
  project/Mobile/__tests__/components/LikeButton.test.js
  project/Mobile/__tests__/components/PgnViewer.test.js
  project/Mobile/__tests__/components/ThemedText.test.js
  project/Mobile/__tests__/contexts/AuthContext.test.js
  project/Mobile/__tests__/screens/CreatePostScreen.test.js
  project/Mobile/__tests__/screens/LoginScreen.test.js
  project/Mobile/__tests__/services/AuthService.test.js
  project/Mobile/__tests__/services/LikeService.test.js
  project/Mobile/__tests__/services/MasterGameService.test.js
  project/Mobile/__tests__/setup/setup.js
  project/Mobile/jest.config.js
  project/Mobile/package.json
Labels: Component: Mobile
