Repository bounswe/bounswe2024group12, pull requests merged in 2024-05, with the labels that each got.

#201 Env variables
  backend/manage.py
  backend/playlog/settings.py
  frontend/src/components/common/EndpointContext.jsx
  frontend/src/components/gamepage/GameInfo.jsx
  frontend/src/components/homepage/ForgotPasswordCard.jsx
  frontend/src/components/homepage/LoginCard.jsx
  frontend/src/components/homepage/SignUpCard.jsx
Labels: Status: Review Needed, Type: Enhancement, Component: Frontend, Component: Backend, Priority: Urgent

#187 Frontend/property page
  backend/manage.py
  backend/playlog/settings.py
  frontend/src/App.js
  frontend/src/assets/game_placeholder.png
  frontend/src/assets/property_placeholder.png
  frontend/src/components/common/EndpointContext.jsx
  frontend/src/components/gamepage/GameInfo.jsx
  frontend/src/components/homepage/ForgotPasswordCard.jsx
  frontend/src/components/homepage/LoginCard.jsx
  frontend/src/components/homepage/SignUpCard.jsx
  frontend/src/components/propertypage/GamesCard.jsx
  frontend/src/components/propertypage/GamesCard.module.css
  frontend/src/components/propertypage/NotExistCard.jsx
  frontend/src/components/propertypage/PropertyCard.jsx
  frontend/src/components/propertypage/PropertyCard.module.css
  frontend/src/components/propertypage/PropertyPageCard.jsx
  frontend/src/components/propertypage/PropertyPageCard.module.css
  frontend/src/pages/PropertyPage.jsx
Labels: Priority: High, Type: Feature, Component: Frontend

#202 Added Endpoints for Main Page
  README.md
  app/mobile/Playlog/.env
  app/mobile/Playlog/Dockerfile
  app/mobile/Playlog/components/main/MainScreenComponents.js
  app/mobile/Playlog/context/ProfileProvider.js
  app/mobile/Playlog/pages/Login.js
  app/mobile/Playlog/pages/Signup.js
  backend/main/models.py
  backend/main/urls.py
  backend/main/views.py
  backend/manage.py
  backend/playlog/settings.py
  backend/requirements.txt
  frontend/README.md
  frontend/src/components/common/EndpointContext.jsx
  frontend/src/components/gamepage/GameInfo.jsx
  frontend/src/components/homepage/ForgotPasswordCard.jsx
  frontend/src/components/homepage/LoginCard.jsx
  frontend/src/components/homepage/SignUpCard.jsx
Labels: Priority: High, Component: Backend

#199 unit test for login, signup function also cleared up the functions
  backend/main/tests.py
  backend/main/tests/test_setup.py
  backend/main/tests/test_views.py
  backend/main/urls.py
  backend/main/views.py
  backend/requirements.txt
Labels: Status: Review Needed, Component: Backend, Priority: Urgent

#222 bugfix: db called before init fixed
  backend/game/apps.py
  backend/game/urls.py
  backend/game/views.py
  backend/main/views.py
Labels: Component: Backend, Component: Database, Priority: Urgent

#224 Finalize Main and Game Page Features
  backend/game/urls.py
  backend/game/views.py
Labels: Priority: High, Component: Backend, Component: Database

#225 Add reviews feature to Backend-dev
  backend/main/models.py
  backend/main/views.py
Labels: Priority: High, Component: Backend, Component: Database

#226 merging backend-dev to dev for testing with front-end
  backend/game/__init__.py
  backend/game/admin.py
  backend/game/apps.py
  backend/game/models.py
  backend/game/tests.py
  backend/game/urls.py
  backend/game/views.py
  backend/main/models.py
  backend/main/urls.py
  backend/main/views.py
  backend/playlog/settings.py
  backend/playlog/urls.py
  docker-compose.yaml
  frontend/src/components/homepage/SignUpCard.jsx
Labels: Priority: High, Component: Frontend, Component: Backend, Component: Database
