Repository bounswe/bounswe2024group12, pull requests merged in 2024-12, with the labels that each got.

#381 Backend puzzles
  app/backend/api_core/settings.py
  app/backend/v1/apps/puzzle/__init__.py
  app/backend/v1/apps/puzzle/admin.py
  app/backend/v1/apps/puzzle/apps.py
  app/backend/v1/apps/puzzle/migrations/__init__.py
  app/backend/v1/apps/puzzle/models.py
  app/backend/v1/apps/puzzle/tests.py
  app/backend/v1/apps/puzzle/urls.py
  app/backend/v1/apps/puzzle/views.py
  app/backend/v1/urls.py
Labels: Component: Backend, Component: Database

#380 Add bookmark endpoints for posts, games, and game moves
  app/backend/v1/apps/games/migrations/0002_gamebookmark_gamemovebookmark.py
  app/backend/v1/apps/games/models.py
  app/backend/v1/apps/games/tests.py
  app/backend/v1/apps/games/urls.py
  app/backend/v1/apps/games/views.py
  app/backend/v1/apps/posts/migrations/0002_bookmark.py
  app/backend/v1/apps/posts/migrations/0003_postbookmark_delete_bookmark.py
  app/backend/v1/apps/posts/models.py
  app/backend/v1/apps/posts/tests.py
  app/backend/v1/apps/posts/urls.py
  app/backend/v1/apps/posts/views.py
Labels: Type: Feature, Component: Backend

#382 Add follow/unfollow functionality with tests and Swagger docs
  app/backend/v1/apps/accounts/migrations/0002_follow.py
  app/backend/v1/apps/accounts/models.py
  app/backend/v1/apps/accounts/tests.py
  app/backend/v1/apps/accounts/urls.py
  app/backend/v1/apps/accounts/views.py
Labels: Type: Feature, Component: Backend

#385 Backend user page endpoint
  app/backend/v1/apps/accounts/tests.py
  app/backend/v1/apps/accounts/urls.py
  app/backend/v1/apps/accounts/views.py
Labels: Type: Feature, Component: Backend

#383 Backend posts edit-delete endpoints
  app/backend/v1/apps/posts/tests.py
  app/backend/v1/apps/posts/urls.py
  app/backend/v1/apps/posts/views.py
Labels: Component: Backend, Component: Database

#384 Backend enhance post listing
  app/backend/v1/apps/posts/tests.py
  app/backend/v1/apps/posts/views.py
Labels: Component: Backend, Component: Database

#386 add: profile screen
  project/Mobile/ProfileScreen.js
Labels: Component: Mobile

#395 Backend Openings
  app/backend/game_openings.json
  app/backend/v1/apps/games/management/commands/import_game_openings.py
  app/backend/v1/apps/games/migrations/0003_gameopening.py
  app/backend/v1/apps/games/models.py
  app/backend/v1/apps/games/tests.py
  app/backend/v1/apps/games/urls.py
  app/backend/v1/apps/games/views.py
Labels: Component: Backend, Component: Database

#397 Backend Tournaments
  app/backend/v1/apps/games/tests.py
  app/backend/v1/apps/games/urls.py
  app/backend/v1/apps/games/views.py
  app/backend/v1/apps/puzzle/views.py
Labels: Component: Backend

#403 Improve Master Games endpoint
  app/backend/v1/apps/games/views.py
Labels: Component: Backend

#405 fix parameter for get_other_user_page endpoint
  app/backend/v1/apps/accounts/tests.py
  app/backend/v1/apps/accounts/urls.py
  app/backend/v1/apps/accounts/views.py
Labels: Component: Backend

#401 Isil m3/frontend
  frontend/src/App.js
  frontend/src/components/commentpage/CommentCard.jsx
  frontend/src/components/common/Navbar.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/HomeCard.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
  frontend/src/components/profilepage/ProfileCard.jsx
  frontend/src/pages/ProfilePage.jsx
Labels: Priority: High, Component: Frontend

#400 Firat/annotation
  frontend/package-lock.json
  frontend/package.json
  frontend/setupTests.js
  frontend/src/App.js
  frontend/src/components/__tests__/HomeCard.test.jsx
  frontend/src/components/archivepage/AddAnnotationDialog.jsx
  frontend/src/components/archivepage/AnnotationTooltip.jsx
  frontend/src/components/archivepage/ArchiveCard.jsx
  frontend/src/components/archivepage/GameScreen.jsx
  frontend/src/components/archivepage/__tests__/AnnotationFeatures.test.jsx
  frontend/src/components/archivepage/__tests__/CommentFeatures.test.jsx
  frontend/src/components/archivepage/__tests__/GameScreen.test.jsx
  frontend/src/setupTests.js
Labels: Priority: High, Type: Feature, Component: Frontend

#411 feat:added bookmarked posts
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/profilepage/ProfileCard.jsx
Labels: Component: Frontend, Priority: Urgent

#414 Backend build bug
  app/backend/Dockerfile
  app/backend/docker-compose.yml
  app/backend/start.sh
  app/backend/wait_for_db.py
Labels: Component: Backend, Component: Database

#419 Final deliverables for Milestone 3
  frontend/package-lock.json
  frontend/package.json
  frontend/setupTests.js
  frontend/src/App.js
  frontend/src/components/__tests__/HomeCard.test.jsx
  frontend/src/components/archivepage/AddAnnotationDialog.jsx
  frontend/src/components/archivepage/AnnotationTooltip.jsx
  frontend/src/components/archivepage/ArchiveCard.jsx
  frontend/src/components/archivepage/CommentsList.jsx
  frontend/src/components/archivepage/GameScreen.jsx
  frontend/src/components/archivepage/MasterGamesDialog.jsx
  frontend/src/components/archivepage/__tests__/AnnotationFeatures.test.jsx
  frontend/src/components/archivepage/__tests__/CommentFeatures.test.jsx
  frontend/src/components/archivepage/__tests__/GameScreen.test.jsx
  frontend/src/components/commentpage/Comment.jsx
  frontend/src/components/commentpage/CommentCard.jsx
  frontend/src/components/commentpage/ShareComment.jsx
  frontend/src/components/common/Navbar.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/HomeCard.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
  frontend/src/components/profilepage/ProfileCard.jsx
  frontend/src/pages/ProfilePage.jsx
  frontend/src/setupTests.js
  package-lock.json
Labels: Component: Frontend
