Repository bounswe/bounswe2024group12, pull requests merged in 2024-10, with the labels that each got.

#267 init: login-signup-home page
  frontend/.dockerignore
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/HomePage.jsx
  frontend/src/pages/LoginPage.jsx
  frontend/src/pages/SignUpPage.jsx
Labels: Priority: High, Component: Frontend

#290 Afg/home page
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/homepage/FENRenderer.jsx
  frontend/src/components/homepage/Feed.jsx
  frontend/src/components/homepage/HomeCard.jsx
  frontend/src/components/homepage/Navbar.jsx
  frontend/src/components/homepage/Post.jsx
  frontend/src/components/homepage/SharePost.jsx
  frontend/src/pages/HomePage.jsx
Labels: Priority: High, Type: Feature, Component: Frontend

#294 Isil/login page
  frontend/src/components/Login.jsx
  frontend/src/pages/LoginPage.jsx
Labels: Component: Frontend, Priority: Urgent

#295 Isil/signup page
  frontend/package.json
  frontend/src/components/SignUp.jsx
  frontend/src/pages/SignUpPage.jsx
Labels: Component: Frontend, Priority: Urgent
